/* Home.css */

.console-text {
  background-color: rgba(0, 0, 0, 0.2); /* Light transparent black background */
  color: rgb(236, 243, 236); /* Light greenish text color */
  font-family: 'Courier New', Courier, monospace; /* Monospace font for console-like appearance */
  padding: 0px; /* Sufficient padding */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  position: relative; /* Absolute positioning to place it over a relative container */
  top: 30%; /* Start from middle vertically */
  left: 50%; /* Start from middle horizontally */
  transform: translate(-50%, -0%); /* Perfect center alignment */
  width: 80%; /* Relative width */
  max-width: 1100px; /* Maximum width */
  box-sizing: border-box; /* Includes padding and border in width */
  
  
}

/* For tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .console-text {
    width: 85%; /* Slightly wider on smaller desktops */
  }
}

/* For mobile phones */
@media (max-width: 767px) {
  .console-text {
    width: 95%; /* Nearly full-width on mobile devices */
    padding: 10px; /* Less padding on smaller screens */
    content: '|'; /* Simulating a cursor */
  }
}

@keyframes blink {
  50% { opacity: 0; }
}
.window-controls {
  position: absolute; /* Position the controls absolutely relative to the console-text box */
  top: 10px; /* Position from the top of the console-text box */
  left: 10px; /* Position from the left of the console-text box */
}

.window-controls span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
}

.close {
  background-color: #fc605b;
}

.minimize {
  background-color: #fecb2f;
}

.maximize {
  background-color: #2aca3e;
}

