@keyframes rotate-open {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

@keyframes rotate-close {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(0deg);
  }
}
